<div id="shellContainer">
  <mat-toolbar id="header" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button [routerLink]="home" mat-button>{{ store.appName }}</button>
    <span class="flex-spacer"></span>
    <ng-container
      *ngIf="(store.user$ | async) !== undefined"
      [ngSwitch]="(store.user$ | async) == null"
    >
      <app-auth-button *ngSwitchCase="true" color="" task="Sign In">
      </app-auth-button>
      <app-auth-button *ngSwitchCase="true" color="" task="Sign Up">
      </app-auth-button>
      <app-auth-button *ngSwitchCase="false" color="" task="Sign Out">
      </app-auth-button>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container id="sidenavContainer">
    <mat-sidenav
      #sidenav
      id="sidenav"
      [opened]="!(media.small$ | async)"
      [mode]="(media.small$ | async) ? 'over' : 'side'"
    >
      <app-route-tree [routes]="routes$ | async"></app-route-tree>
    </mat-sidenav>
    <mat-sidenav-content id="sidenavContent">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
