<form id="credentials" [formGroup]="form" (ngSubmit)="_submit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      autocomplete="off"
      matInput
      type="email"
      [formControl]="emailControl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" [formControl]="passwordControl" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">
    {{ submitButtonName }}
  </button>
  <button type="button" mat-button color="warn" (click)="_cancel()">
    Cancel
  </button>
</form>
