<table
  class="user-table"
  *ngIf="data"
  mat-table
  [dataSource]="data"
  multiTemplateDataRows
>
  <!-- rows with data -->
  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of columns"
    [ngSwitch]="column"
  >
    <ng-container *ngSwitchCase="'verified'">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let user">
        <app-user-verified-checkbox
          [user]="user"
          (verifiedChange)="selectionChange.emit($event)"
        >
        </app-user-verified-checkbox>
      </td>
    </ng-container>
    <ng-container *ngSwitchCase="'expand'">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button
          mat-icon-button
          (click)="_expandedUser = _expandedUser === user ? null : user"
        >
          <mat-icon>
            {{ _expandedUser == user ? "expand_less" : "expand_more" }}
          </mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let user">{{ user[column] }}</td>
    </ng-container>
  </ng-container>
  <!-- user detail -->
  <ng-container matColumnDef="expandedUser">
    <td mat-cell *matCellDef="let user" [attr.colspan]="columns.length">
      <app-user-select-permissions
        [@detailExpand]="user == _expandedUser ? 'expanded' : 'collapsed'"
        class="user-detail"
        [user]="_expandedUser"
        (selectedRole)="selectionChange.emit($event)"
      >
      </app-user-select-permissions>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let user; columns: columns"></tr>
  <tr
    class="user-detail-row"
    style="height: 0px"
    mat-row
    *matRowDef="let row; columns: ['expandedUser']"
  ></tr>
</table>
