@import "variables.scss";
.mat-card{
  margin-top: 3%;
}
.otherFontSizeandbold{
  font-weight: bold;
}
.h1 {
  width: 100%;
  display: flex;
  
}
.div {
  display: flex;
  justify-content: center;
}
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td{
    width: 50%;
    padding: 12px 0px 12px 0px;
  }
  th {
    width: 50%;
    padding-right: 24px;
  }